.playlist-default {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.playlist-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist-container {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #282828;
}

.table {
    color: whitesmoke!important;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #282828!important;
}

.table-header {
    font-variant: small-caps;
    border: none!important;
    border-top: none!important;
}

.music-tr:hover {
    background-color: #282828!important;
    color: whitesmoke!important;
}

.header-buttons {
    position: absolute;
    bottom: 0;
}

.header-button {
    background-color: #e1289f!important;
    border: #c12386 !important;
    margin-right: 15px;
}