.card {
    background: transparent!important;
}

.card-body {
    padding: 5px 0 0 0!important;
}

.card-title {
    font-size: 1rem;
    font-weight: bold!important;
    margin: unset!important;
}

.card-text {
    color: #B3B3B3;
}

.cover-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}