.form-content {
  padding: 25px 50px 40px 50px;
  margin: 50px 20px 0 20px;
  border-radius: 30px;
  background-color: #1d1d1d;

  .hr-form {
    border-top: 2px solid #282828;
    margin: 24px;
  }
}