body {
  margin: 0;
  font-family: Circular, Helvetica, Arial, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #181818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.global-container {
  padding-top: 25px;
}

.hr {
  border-top: 2px solid #282828;
  margin: 5px;
}